.env
.test.env
example_response.py

venv/
venv-py311/
venv-py312/
docker/
mm-logs
storage
.idea

# from flask documentation
.venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
