REDMINE_PROTOCOL=http
REDMINE_PORT=3000
REDMINE_HOST=172.10.1.10

MATTERMOST_PROTOCOL=http
MATTERMOST_HOST=172.10.1.30
MATTERMOST_PORT=8065

APP_PROTOCOL=http
APP_HOST_INTERNAl=172.10.1.50
APP_HOST_EXTERNAL=172.10.1.50
APP_PORT=8090

ADMIN_RM_KEY_API=
RM_MM_APP_TOKEN=

# usernames mattermost with redmine account
# For example:
# mattermost_username=redmine_username
# seconad_username_in_mattermost=second_username_in_redmine
# and etc...

