REDMINE_PROTOCOL=http
REDMINE_PORT=3000
REDMINE_HOST=172.10.1.10

MATTERMOST_PROTOCOL=http
MATTERMOST_HOST=172.10.1.30
MATTERMOST_PORT=8065

PYTHON_BOT_APP_HOST=172.10.1.50
PYTHON_BOT_APP_PORT=8090

ADMIN_REDMINE_KEY_API=
ADMIN_MATTERMOST_TOKEN=
REDMINE_MATTERMOST_BRIDGE_APP_TOKEN=

# usernames mattermost with redmine account
# For example:
# mattermost_username=redmine_username
# seconad_username_in_mattermost=second_username_in_redmine
# and etc...

